<footer class="bg-dark text-white pt-4 pb-2 mt-5">
  <div class="container text-center text-md-start">
    <div class="row">
      <!-- Columna 1 -->
      <div class="col-md-4 mb-3">
        <h5 class="text-uppercase">CineManía</h5>
        <p>Tu sitio favorito para descubrir las mejores películas y disfrutar del cine como nunca.</p>
      </div>

      <!-- Columna 2 -->
      <div class="col-md-4 mb-3">
        <h5 class="text-uppercase">Enlaces</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white text-decoration-none">Inicio</a></li>
          <li><a href="#" class="text-white text-decoration-none">Cartelera</a></li>
          <li><a href="#" class="text-white text-decoration-none">Contacto</a></li>
        </ul>
      </div>

      <!-- Columna 3 -->
      <div class="col-md-4 mb-3">
        <h5 class="text-uppercase">Síguenos</h5>
        <a href="#" class="text-white me-3"><i class="fa fa-facebook-f"></i></a>
        <a href="#" class="text-white me-3"><i class="fa fa-instagram"></i></a>
        <a href="#" class="text-white"><i class="fa fa-twitter"></i></a>
      </div>
    </div>

    <hr class="border-light">

    <div class="text-center">
      <small>&copy; 2025 CineManía. Todos los derechos reservados.</small>
    </div>
  </div>
</footer>
